<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Account Management</title>
    </head>
    <body>
        {% include "header.html" %}
        <h1>Account Management</h1>
        <div>
            All account management options can be found on this page.<br>
        </div>
        <div id="message">
            <div hidden id="password-success" class="alert alert-success" role="alert">Password changed</div>
            <div hidden id="password-fail" class="alert alert-danger" role="alert">Password changing failed, maybe because the new and old password are the same</div>
            <div hidden id="password-field" class="alert alert-danger" role="alert">The password was not change because of an empty field</div>
            <div hidden id="user-fail" class="alert alert-danger" role="alert">Adding a user failed</div>
            <div hidden id="user-email" class="alert alert-danger" role="alert">Not a valid email address</div>
            <div hidden id="user-field" class="alert alert-danger" role="alert">Adding user failed because of an empty field</div>
            <div hidden id="user-failed-type" class="alert alert-danger" role="alert">This admin account cannot be disabled or type changed because one admin account has to be active</div>
            <div hidden id="check-password-failed" class="alert alert-danger" role="alert">Password too weak. Its has to have one Number, Lowercase, Uppercase and at least 8 characters</div>
            <div hidden id="user-added" class="alert alert-success" role="alert">The user added</div>
            <div hidden id="user-status" class="alert alert-success" role="alert">The user status changed</div>
            <div hidden id="user-type" class="alert alert-success" role="alert">The account type changed</div>
        </div>
        <fieldset class="fieldset">
            <legend>Users Overview</legend>
            <div>
                In the overview down below, all users accounts are displayed.
            </div>
            <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr class="info">
                                <th>Login</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody id="user-list">
                        {% for user in users %}
                            <tr>
                                <td><a href="#" class="edit" data-type="text" data-url="user_login"  data-pk="{{ user.id }}"  data-title="Change comment">{{ user.login }}</a></td>
                                <td><a href="#" class="edit" data-type="text" data-url="user_first_name" data-pk="{{ user.id }}" data-title="Change comment">{{ user.first_name }}</a></td>
                                <td><a href="#" class="edit" data-type="text" data-url="user_last_name" data-pk="{{ user.id }}"  data-title="Change comment">{{ user.last_name }}</a></td>
                                <td><a href="#" class="edit" data-type="text" data-url="user_email" data-pk="{{ user.id }}"  data-title="Change comment">{{ user.email }}</a></td>
                                <td>Change user {% if user.active %}from active to <button user-id="{{ user.id }}" status="disabled" class="btn btn-primary btn-xs btn-status">disabled</button>{% else %}from disabled to <button status="active" user-id="{{ user.id }}" class="btn btn-primary btn-xs btn-status">active</button>{% endif %}</td>
                                <td>Change account type {% if user.type %}from admin to <button user-id="{{ user.id }}" type="user" class="btn btn-primary btn-xs btn-type">user </button>{% else %}from user to <button type="admin" user-id="{{ user.id }}" class="btn btn-primary btn-xs btn-type">admin</button>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </fieldset>
        <fieldset class="fieldset">
            <legend>Options</legend>
                <div>
                    <table class="table">
                        <tr>
                            <th>Add user</th>
                            <th>If you want too add user, fill in all requested values.<br>And click Save changes. <br></th>
                            <th><button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-user">Add user</button></th>
                        </tr>
                        <tr>
                            <th>Change password</th>
                            <th>If you want to change a password from a user, fill in all requested values.<br> And click Save changes. <br></th>
                            <th><button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-password">Change password</button></th>
                        </tr>
                    </table>
                </div>
        </fieldset>
        <div class="modal fade" id="dialog-password">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change password</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="login-password" class="control-label login-label" >Login</label>
                            <input id="login-password" class= "form-control" type="text"/>
                        </div>
                        <div>
                            <label for="new-password" class="control-label password-label">New password</label>
                            <input id="new-password" class="form-control" type="password"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-change-password" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="dialog-user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add user</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="username" class="control-label username" >Login</label>
                            <input id="username"  class="form-control" type="text"/>
                        </div>
                        <div>
                            <label for="password" class="control-label password" >Password</label>
                            <input id="password"  class="form-control" type="password"/>
                        </div>
                        <div>
                            <label for="first_name" class="control-label first_name" >First name</label>
                            <input id="first_name"  class="form-control" type="text"/>
                        </div>
                        <div>
                            <label for="last_name" class="control-label last_name" >Last name</label>
                            <input id="last_name"  class="form-control" type="text"/>
                        </div>
                        <div>
                            <label for="email" class="control-label email" >Email</label>
                            <input id="email"  class="form-control" type="email"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-add-user" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script src="/static/js/accounts.js"></script>
    </body>
</html>
