<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Configuration</title>
    </head>
    <body>
        {% include "header.html" %}
        <h1>Configuration</h1>
        <div id="message">
            <div hidden id="network-add" class="alert alert-success" role="alert">Network added</div>
            <div hidden id="network-fail" class="alert alert-danger" role="alert">Network already exists</div>
            <div hidden id="network-removed" class="alert alert-danger" role="alert">Network removed</div>
            <div hidden id="network-format-fail" class="alert alert-danger" role="alert">You need to add a network</div>
            <div hidden id="scanner-add" class="alert alert-success" role="alert">Scanner added</div>
            <div hidden id="scanner-fail" class="alert alert-danger" role="alert">Adding scanner fail</div>
            <div hidden id="scanner-removed" class="alert alert-danger" role="alert">Scanner removed</div>
            <div hidden id="field" class="alert alert-danger" role="alert">Empty field or fields</div>
        </div>
        <div>
            <table>
                <td class="col-md-4">
                    In the configuration page it is possible to add and remove scanners or networks and servers. New networks or servers can be scanned by full scan, of all the networks, or individually.
                    It is also possible to select if the scanners scan UDP, TCP or both and how many threads are used.
                </td>
                <td class="col-md-3">
                    To start a full scan of all the networks, click this button.<br>
                    <button status="{% if scan_occuring%}stop{% else %}start{% endif %}" class="btn btn-danger" id="scan">{% if scan_occuring%}Stop full scan{% else %}Full scan{% endif %}</button>
                </td>
            </table>
        </div>
        <fieldset class="fieldset">
            <legend>Scanner settings</legend>
            <table>
                <td class="col-md-2" valign="top">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr class="info">
                                    <th>Threads:</th>
                                    <th>TCP/UDP:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#" class="edit" data-type="number" data-url="change_threads" data-pk="{{1}}">{{threads}}</a></td>
                                    <td><a href="#" id="options" class="edit" data-type="select" data-url="change_option" data-value="{{ option }}" data-pk="{{1}}" data-source="[{value:'-sT',text:'TCP'},{value:'-sU',text:'UDP'},{value:'-sT -sU',text:'TCP & UDP'}]"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td class="col-md-3" valign="top">
                    {% if not scanner %}
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr class="info">
                                    <th>Scanners</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for scanner in scanners %}
                                <tr>
                                    <td>{{ scanner.uri }}</td>
                                    <td><button type="button" class="btn btn-default scannerremove"  aria-label="Left Align" dataid={{scanner.uri}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><b>Add a new scanner here</b></td>
                                <td><button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-scanner">Add</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </td>
                <td class="col-md-3" valign="top">
                    <div class="panel panel-default">
                        {% if not network %}
                        <table class="table">
                            <thead>
                                <tr class="info">
                                    <th>Networks</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            {% for network in networks %}
                                <tr id="{{ network.id }}" data-toggle="collapse" data-target="#001"  class="accordion-toggle">
                                    <td >{{ network.network }}</td>
                                    <td ><button type="button" class="btn btn-default rescan_ip" aria-label="Left Align" ip ="{{network.network}}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default remove"  aria-label="Left Align" dataid={{network.id}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td><b>Add a new networks or servers here</b></td>
                                    <td><button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-network">Add</button></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </td>
            </table>
        </fieldset>
        <div class="modal fade" id="dialog-network">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add network</h4>
                    </div>
                    <div class="modal-body">
                        <label for="network-address" class="control-label">Network address</label>
                        <input id="network-address" class="form-control" type="text"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-add-network" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="dialog-scanner">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Scanner</h4>
                    </div>
                    <div class="modal-body">
                        <label for="scanner-ip" class="control-label">Scanner address</label>
                        <input id="scanner-ip" class="form-control" type="text"/>
                    </div>
                    <div class="modal-body">
                        <label for="scanner-key" class="control-label">Scanner key</label>
                        <input id="scanner-key" class="form-control" type="text"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-add-scanner" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script src="/static/js/configuration.js"></script>
    </body>
</html>