<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Feedback</title>
    </head>
    <body>
        {% include "header.html" %}
        <h1>Feedback</h1>
        <div id="message">
            <div hidden id="field" class="alert alert-danger" role="alert">Empty field</div>
        </div>
        <div class="modal-body">
            <div>
                <b>Add here feedback, reminders and notices for everyone to see</b>
            </div>
            <textarea id="feedback" type="text" cols="70" rows="4"></textarea>
            <button type="button" id="btn-send" data-dismiss="modal"  class="btn btn-primary">Send</button>
        </div>
        <div id="feeds">
            {% for feed in feedback %}
            <div class="feed">
                <p class="feed-date">Date : {{ feed.date }} User : {{ feed.user}}</p>
                <p class='feed-comment'>{{ feed.comment}}</p>
            </div>
            <div>
                <button type="button" feedback-id="{{ feed.id }}" class="btn btn-primary btn-xs btn-hide">Hide feedback</button>
            </div>
            {% endfor %}
        </div>
    </body>
    <script src="/static/js/feedback.js"></script>
</html>
