<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Filters</title>
    </head>
    <body>
        {% include "header.html" %}
        {% set number = 0 %}
        <div style="display:block;">{{  pagination.links}}</div>
            <h1>Filters</h1>
            <div id="message">
                <div hidden id="filter-success" class="alert alert-success" role="alert">Filter added</div>
                <div hidden id="filter-underzero" class="alert alert-danger" role="alert">Port must be positive</div>
                <div hidden id="filter-ip" class="alert alert-danger" role="alert">Invalid IP</div>
                <div hidden id="field" class="alert alert-danger" role="alert">Empty IP/Network field</div>
            </div>
            <div>
                <table>
                    <td class="col-md-6">
                        Some servers or networks don't need to be scanned. To exclude them from the scan, they can be added to the filter.
                    </td>
                    <td class="col-md-2">
                        To add a new filter click this button<br>
                        <button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-filter">Add</button>
                    </td>
                </table>
            </div>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr class="info">
                            <th>IP/Network</th>
                            <th>Port</th>
                            <th>Service</th>
                            <th>Protocols</th>
                            <th>Comment</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    {% for filter in  filters %}
                        <tr id="{{ filter.id }}">
                            <td>
                                <a href="#" class="edit"  data-emptytext="****" data-type="text" data-url="edit_ip" data-pk="{{filter.id}}"  data-title="Change comment">{{ filter.ip }}</a>
                            </td>
                            <td>
                                <a href="#" class="edit" data-emptytext="****" data-type="text" data-url="edit_port" data-pk="{{filter.id}}"  data-title="Change comment">{% if not filter.port == 0 %} {{ filter.port }} {% endif %} </a>
                            </td>
                            <td>
                                <a href="#" class="edit" data-type="text" data-emptytext="****" data-url="edit_service" data-pk="{{filter.id}}"  data-title="Change comment">  {{ filter.service }}</a>
                            </td>
                            <td>
                                <a href="#" class="edit" data-type="text" data-emptytext="****" data-url="edit_service" data-pk="{{filter.id}}"  data-title="Change comment">  {{ filter.protocol }}</a>
                            </td>
                            <td>
                                <span class="user">{% if filter.user_comment %}{{ filter.user_comment }}: {% endif %} </span><a href="#" class="edit comment" data-type="text" data-emptytext="****" data-url="edit_comment" data-pk="{{filter.id}}"  data-title="Change comment">{{ filter.comment }}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default remove" aria-label="Left Align" dataid={{filter.id}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display:block;">{{pagination.links}}</div>
            <div class="modal fade" id="dialog-filter">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add network</h4>
                        </div>
                        <form class="modal-body" id="input">
                            <div>
                                <label for="ip" class="control-label filter-label" >IP/Network: </label>
                                <input id="ip" class="empty  form-control" name="ip" type="text"/>
                            </div>
                            <div>
                                <label for="port" class="control-label filter-label">Port: </label>
                                <input id="port" class=" form-control empty" name="port" type="number"/>
                            </div>
                            <div>
                                <label for="protocol" class="control-label filter-label">Protocol: </label>
                                <input class="empty form-control" id="protocol" name="protocol" type="text"/>
                            </div>
                            <div>
                                <label for="service" class="control-label filter-label">Service: </label>
                                <input  class="form-control empty" id="service" name="service" type="text"/>
                            </div>
                            <div>
                                <label for="comment" class="control-label filter-label">Comment: </label>
                                <input class="empty form-control" id="comment" name="comment" type="text"/>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="send" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        <script src="/static/js/filters.js"></script>
    </body>
</html>
