<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    {% include "bootstrap/base.html" %}
    {% if message %}
        <div class="alert alert-info" role="alert"><span class="text-align:center">{{ message }}</span></div>
    {% elif  warning %}
        <div class="alert alert-warning" role="alert"><span class="text-align:center">{{ warning }}</span></div>
    {% endif %}
    {% block body %}
        <div class="row" id="login">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" method="post" action="/login/">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>