<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Notifications</title>
    </head>
    <body>
    {% include "header.html" %}
    {% block body %}
        <h1>Notifications</h1>
        <div style="display:block;">{{  pagination.links}}</div><div>
            <table>
                <td class="col-md-6">
                    On the Notifications page all port alerts are displayed. <br>
                    It is also possible to add server or port to the filter or to accept the alert.<br>
                    With the search function a server can be found quickly.
                </td>
            </table>
        </div>
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr class="info">
                        <th>Ip</th>
                        <th>Warning</th>
                        <th>Comments</th>
                        <th>Port alerts</th>
                        <th>Changed</th>
                        <th>Actions</th>
                    </tr>
                </thead >
                {% for unread_notificaty in notificaties %}
                <tbody class="notification_{{unread_notificaty.id}} " >
                    <tr class="{% if unread_notificaty.is_checked %}success {% else %} warning {% endif %}  " id="tr-header-{{ unread_notificaty.id }}">
                        <td class="click" data-toggle="collapse" data-target="#tr-{{ unread_notificaty.id }}" >{{unread_notificaty.ip.ip}} <p>{{ unread_notificaty.ip.hostname}}</p></td>
                        <td class= "click" data-toggle="collapse" data-target="#tr-{{ unread_notificaty.id }}">{{unread_notificaty.warning}}</td>
                        <td><span class="user">{% if  unread_notificaty.user_comment%}{{ unread_notificaty.user_comment }}: {% endif %}</span> <a href="#" class="edit comment" data-type="text" data-url="ip_edit_comment" data-pk="{{unread_notificaty.id}}"  data-title="Change comment">{{unread_notificaty.comment}}</a></td>
                        <td> <span  class="badge number_{{ unread_notificaty.id }}">{{ unread_notificaty.number }}</span></td>
                        <td><p>{{ unread_notificaty.changed }}</p><p>{{( now - unread_notificaty.changed).days }} days ago</p></td>
                        <td> {% if  unread_notificaty.is_checked %}
                                <button data-title="approved by {{ unread_notificaty.checked_by }}" type="button"  tooltip ="checked by  {{ unread_notificaty.checked_by }}"  class="disabled btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-default checked"  id ="{{unread_notificaty.id}}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            {% endif %}
                            <button type="button" class="btn btn-default add_filter_ip" ip ="{{unread_notificaty.ip.ip}}" ip-id="{{unread_notificaty.id}}"  aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button data-toggle="collapse" data-target="#tr-{{ unread_notificaty.id }}" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr class="accordian-body collapse" id="tr-{{ unread_notificaty.id }}">
                        <td colspan="6">
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr class="info">
                                        <th>Port</th>
                                        <th>Protocol</th>
                                        <th>Service</th>
                                        <th>Warning</th>
                                        <th>Comment</th>
                                        <th>Changed</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for unread_ports in unread_notificaty.alerts %}
                                        <tr class="port {% if unread_ports.is_checked %}success{% else %} warning {% endif %}  ">
                                            <td>{{unread_ports.port}}</td>
                                            <td>{{unread_ports.protocol}}</td>
                                            <td>{{unread_ports.service}}</td>
                                            <td>{{ unread_ports.warning }}</td>
                                            <td><span class="user">{% if  unread_ports.user_comment%}{{ unread_ports.user_comment }}: {% endif %}</span><a href="#" class="edit comment" data-type="text" data-url="port_edit_comment" data-pk="{{unread_ports.id}}"  data-title="Change comment">{{ unread_ports.comment }}</a></td>
                                            <td><p>{{unread_ports.changed}}</p><p>{{ (now - unread_ports.changed).days }}</p></td>
                                            <td>{% if  unread_ports.is_checked %}
                                                    <button  type="button"  ip-id="{{ unread_notificaty.id }}" data-title="approved by {{ unread_ports.checked_by }}" class="btn btn-default disabled btn-port-{{unread_notificaty.id}}"  aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    </button>
                                                {% else %}
                                                    <button type="button" ip-id="{{ unread_notificaty.id }}" class="btn btn-default checked_port btn-port-{{unread_notificaty.id}}"  id ="{{unread_ports.id}}" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    </button>
                                                {% endif %}
                                                <button type="button" class="btn btn-default filter_port" ip-id="{{unread_notificaty.id}}" ip = "{{unread_notificaty.ip.ip}}" port="{{ unread_ports.port }}"  aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div style="display:block;">{{pagination.links}}</div>
        <script src="/static/js/notifications.js"></script>
    {% endblock %}
    </body>
</html>