{% for port in ports %}
<tr class="warning">
    <td>{{port[1]}}</td>
    <td>{{port[2]}}</td>
    <td>{{port[3]}}</td>
    <td>{{ unread_ports.warning }}</td>
    <td><span class="user">{% if  unread_ports.user_comment%}{{ unread_ports.user_comment }}: {% endif %}</span> <a href="#" class="edit comment" data-type="text" data-url="notifications/port_edit_comment" data-pk="{{unread_ports.id}}"  data-title="Change comment">{{ unread_ports.comment }}</a></td>
    <td><button type="button" class="btn btn-default checked_port" id = "{{  unread_ports.id}}" aria-label="Left Align" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default filter_port" ip = "{{  unread_notificaty.ip}}" port="{{ unread_ports.port }}"  aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </td>
</tr>
{% endfor %}