{% if ports[0] %}
 <p>History</p>
<table class="table" style="border:solid 1px black;">
    <thead>
        <tr class="info">
            <th></th>
            <th>Port</th>
            <th>Protocol</th>
            <th>Service</th>
            <th>Comments</th>
            <th>On/of</th>
            <th>Last changed</th>
        </tr>
    </thead>
    <tbody>
    {% for port in ports %}
        <tr>
            <td></td>
            <td>{{port.port}}</td>
            <td>{{port.protocol}}</td>
            <td>{{port.service}}</td>
            <td>{% if port.user_comment %}{{ port.user_comment }}: {% endif %}{{port.comment }}</td>
            <td>{% if port.is_up %} On{% else %}Off{% endif %}</td>
            <td>{{ port.changed }}<br/>{{ (now - port.changed).days }} days ago</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    No history
{% endif %}
