<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
        {% include "header.html" %}
            <h1>Profile</h1>
            <div id="message">
                <div hidden id="password-success" class="alert alert-success" role="alert">Password changed</div>
                <div hidden id="password-fail" class="alert alert-danger" role="alert">Password changing failed</div>
                <div hidden id="check-password-failed" class="alert alert-danger" role="alert">Password too weak. Its has to have one Number, Lowercase, Uppercase and at least 8 characters</div>
                <div hidden id="field" class="alert alert-danger" role="alert">The password was not changed because of an emtpy field</div>
            </div>
            <div>
                    View and edit your profile on this page.<br>
            </div>
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <tr>
                        <td>Login</td>
                        <td><a href="#" class="edit" data-type="text" data-url="user_login"  data-pk="{{ user.id }}"  data-title="Change comment">{{ user.login }}</a></td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td><a href="#" class="edit" data-type="text" data-url="user_first_name" data-pk="{{ user.id }}" data-title="Change comment">{{ user.first_name }}</a></td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td><a href="#" class="edit" data-type="text" data-url="user_last_name" data-pk="{{ user.id }}"  data-title="Change comment">{{ user.last_name }}</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="#" class="edit" data-type="text" data-url="user_email" data-pk="{{ user.id }}"  data-title="Change comment">{{ user.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Type account</td>
                        <td>{% if user.type %}Admin {% else %}User{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Change Password</td>
                        <td><button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-password">Change Password</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal fade" id="dialog-password">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Change password</h4>
                        </div>
                            <div class="modal-body">
                        <div>
                            <label for="old-password" class="control-label password-label" >Old password</label>
                            <input id="old-password" class= "form-control" type="password"/>
                        </div>
                        <div>
                            <label for="new-password" class="control-label password-label">New password</label>
                            <input id="new-password" class="form-control" type="password"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="btn-change-password" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        <script src="/static/js/profile.js"></script>
    </body>
</html>