<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Protocols</title>
    </head>
    <body>
        {% include "header.html" %}
            <h1>Protocols</h1>
            <div id="message">
                <div hidden id="protocol-success" class="alert alert-success" role="alert">Protocol added</div>
                <div hidden id="protocol-fail" class="alert alert-danger" role="alert">Protocol already exists</div>
                <div hidden id="protocol-underzero" class="alert alert-danger" role="alert">Port must be positive </div>
                <div hidden id="field" class="alert alert-danger" role="alert">Empty field or fields</div>
            </div>
            <div>
                <table>
                    <td class="col-md-6">
                        The scanner scan network ports and compares the results with stored protocols in the database.
                        On this page all stored protocols can be found and managed.
                        They can be found by the search option or by the page selector.
                        In the comment section shows who added the protocol to the database.
                        IANA stands for Internet Assigned Numbers Authority and this organization manages the protocols.
                        All protocols from IANA are default protocols.
                    </td>
                    <td class="col-md-2">
                        To add a new protocol click this button<br>
                        <button type="button" style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" data-target="#dialog-protocol">Add</button>
                    </td>
                </table>
            </div>
            <div style="display:block;">{{pagination.links}}</div>
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr class="info">
                            <th>Port</th>
                            <th>Protocols</th>
                            <th>Service</th>
                            <th>Comments</th>
                            <!--  <th>Used by ip's</th>-->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    {% for protocol in  protocols %}
                        <tr id="{{ protocol.id }}" data-toggle="collapse" data-target="#001"  class="accordion-toggle">
                            <td><a href="#" class="edit" data-type="number" data-url="edit_port" data-pk="{{protocol.id}}"  data-title="Change port number">{{ protocol.port }}</a></td>
                            <td><a href="#" class="edit" data-type="text" data-url="edit_protocol" data-pk="{{protocol.id}}"  data-title="Change protocol">{{ protocol.protocol }}</a></td>
                            <td><a href="#" class="edit" data-type="text" data-url="edit_service" data-pk="{{protocol.id}}"  data-title="Change service">{{ protocol.service}}</a></td>
                            <td><span class="user">{% if protocol.user_comment %}{{ protocol.user_comment }}: {% endif %}</span> <a href="#" class="edit comment" data-type="text" data-url="edit_comment" data-pk="{{protocol.id}}"  data-title="Change comment">{{ protocol.comment }}</a></td>
                           <!-- <td><span class="badge">12</span></td>-->
                            <td><button type="button" class="btn btn-default remove"  aria-label="Left Align" dataid={{protocol.id}} port={{protocol.port}} protocol={{protocol.protocol}} ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display:block;">{{pagination.links}}</div>
            <div class="modal fade" id="dialog-protocol">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add protocol</h4>
                        </div>
                        <form class="modal-body" id="input">
                            <div>
                                <label for="port" class="control-label filter-label" >Port:  </label>
                                <input id="port" class="form-control protocol-form" name="port" type="number"/>
                            </div>
                            <div>
                                <label for="protocol" class="control-label filter-label">Protocol: </label>
                                <input id="protocol" class="form-control protocol-form" name="protocol" type="text"/>
                            </div>
                            <div>
                                <label for="service" class="control-label filter-label">Service: </label>
                                <input id="service" class="form-control protocol-form" name="service" type="text"/>
                            </div>
                            <div>
                                <label for="comment" class=" control-label filter-label">Comment: </label>
                                <input id="comment"  class="form-control protocol-form" name="comment" type="text"/>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="send" data-dismiss="modal"  class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        <script src="/static/js/protocols.js"></script>
    </body>
</html>
