<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Servers</title>
    </head>
    <body>
        {% include "header.html" %}
        {% block body %}
        <h1> Servers </h1>
        <div style="display:block;">{{ pagination.links}}</div>
        <div>
            <table>
                <td class="col-md-6">
                    All scanned servers can be found here. It list all open ports and all it changes. <br>
                    Also it possible to rescan a server. With the search function a server can be found quickly.
                </td>
            </table>
        </div>
        <div class="panel panel-default">
            <table class="table">
                {% set i = 0 %}
                <thead>
                    <tr class="info">
                        <th>Ip</th>
                        <th>Comment</th>
                        <th>Ports</th>
                        <th>Last changed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for server in servers %}
                <tbody>
                    <tr>
                        <td class="click" data-toggle="collapse" data-target="#server_{{i}}" class="accordion-toggle" >{{ server.ip }}<p>{{ server.hostname }}</p></td>
                        <td><span class="user">{% if server.user_comment %}{{ server.user_comment }}: {% endif %}</span><a href="#" class="edit comment" data-type="text" data-url="edit_comment" data-pk="{{server.ip}}"  data-title="Change comment">{{ server.comment }}</a></td>
                        <td><span class="badge">{{ server.number }}</span></td>
                        <td>{{ server.changed }}<br/>{{ (now - server.changed).days }} days ago</td>
                        <td>
                            <button data-toggle="collapse" data-target="#server_{{i}}" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default rescan_ip" aria-label="Left Align" ip ="{{server.ip}}">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                        </td>
                    <tr class="accordian-body collapse" id="server_{{ i }}">
                        <td colspan="7">
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr class="info">
                                            <th>Port</th>
                                            <th>Protocol</th>
                                            <th>Service</th>
                                            <th>Comments</th>
                                            <th>On/of</th>
                                            <th>Last changed</th>
                                            <th>Check history</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for host in server.ports %}
                                        <tr>
                                            <td data-toggle="collapse" data-target="#port_{{host.id}}" class="click click-port-history accordion-toggle" protocol="{{ host.protocol }}" ip="{{ server.ip }}" port="{{ host.port }}" port-id="{{ host.id }}" >{{host.port}}</td>
                                            <td data-toggle="collapse" data-target="#port_{{host.id}}" class="click click-port-history accordion-toggle" protocol="{{ host.protocol }}" ip="{{ server.ip }}" port="{{ host.port }}" port-id="{{ host.id }}" >{{host.protocol }}</td>
                                            <td data-toggle="collapse" data-target="#port_{{host.id}}" class="click click-port-history accordion-toggle" protocol="{{ host.protocol }}" ip="{{ server.ip }}" port="{{ host.port }}" port-id="{{ host.id }}" >{{host.service}}</td>
                                            <td><span class="user">{% if host.user_comment %}{{ host.user_comment }}: {% endif %}</span><a href="#" class="edit comment" data-type="text" data-url="port_edit_comment"  data-pk="{{server.ip}}:{{host.port}}"  data-title="Change comment">{{ host.comment }}</a></td>
                                            <td>{% if host.is_up %}On {% else %} Off {% endif %}   </td>
                                            <td>{{ host.changed }}<br/>{{ (now - host.changed).days }} days ago</td>
                                            <td><button data-toggle="collapse" data-target="#port_{{host.id}}" type="button" class="click-port-history btn btn-default" protocol="{{ host.protocol }}" ip="{{ server.ip }}" port="{{ host.port }}" port-id="{{ host.id }}" aria-label="Left Align"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button></td>
                                        <tr class="accordian-body collapse" id="port_{{ host.id}}" >
                                            <td colspan="7">
                                                <div id="history_port_{{ host.id }}" style="background-color: rgba(197, 231, 255,20);">
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% set i = i + 1 %}
                {% endfor %}
            </table>
        </div>
        <script src="/static/js/servers.js"></script>
    {% endblock %}
    </body>
</html>