#feeds{
    width:75%;

}
.feed{
    width: 100%;

}
.feed-date
{
    font-weight: bold;
    border-bottom: solid 1px steelblue;
}
.feed:nth-child(odd)
{
    background-color: lightblue;
    border: blue 1px solid;
}
.feed:nth-child(even)
{
    background-color: lightcyan;
    border: cyan 1px solid;
}
#input div{
    margin-bottom: 2px;;
}
#input label{
    width:100px;
}
#input input[type="text"] input[type="number"]{
    width: 30%;
}
#filter{
    margin-top:7.5px;
    height :35px;

}
.tt-suggestion:hover
{
    background-color: #0097CF;
    color: #FFFFFF;
    cursor:pointer;
}
.tt-cursor{
    background-color: #0097CF;
    color: #FFFFFF;
    cursor:pointer;
}


.tt-dataset{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
div{
    margin-bottom: 3px;

}
.password-label
{
    width:20%;
}
.fieldset
{
    border-bottom:1px solid #E5E5E5;
    margin-bottom:30px;
}
fieldset div label
{
    width: 13%;
}

.tooltip-wrapper {
    display:inline;
}

.btn.disabled {
    pointer-events: auto;
}
.click
{
    cursor: pointer;
}
