{%  include "bootstrap/base.html" %}
{% from "macros.html" import nav_link with context %}
{% block navbar %}
    <link href="/static/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="/static/js/notify.min.js"></script>
    <script src="/static/js/bootstrap-editable.min.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <link href="/static/css/local.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="/static/js/header.js"></script>
    <div id="wrapper">
    {% if current_user.login %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    {{ nav_link('index_controller.dashboard', 'Dashboard') }}
                    {{ nav_link('notification_controller.notification', 'Notifications') }}
                    {{ nav_link('server_controller.server', 'Servers') }}
                    {{ nav_link('filter_controller.filter', 'Filters') }}
                    {{ nav_link('protocol_controller.protocol', 'Protocols') }}
                    {{ nav_link('configuration_controller.configuration', 'Configuration') }}
                    {% if current_user.type == True %}
                        {{ nav_link('accounts_controller.accounts', 'Accounts') }}
                    {% endif %}
                    {{ nav_link('feedback_controller.feedback', 'Feedback') }}
                </ul>
            <ul class=" nav navbar-left">
            <li class="navbar-brand">Port scanner</li>
            </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <!--<li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">0</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>No messages</li>
                        </ul>
                    </li>-->
                    {% if current_user.login %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.login }}<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/profile">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="../login/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="../login/">Log in</a>
                        </li>
                    {% endif %}
                </ul>
                <!--<ul class="nav navbar-nav navbar-right navbar-user">
                    <li>
                        {% if network_filter%}
                            <select  id="filter" class="span2 navbar-btn">
                                <option value="">All networks</option>
                                {%  if not network == "" and network  %}
                                    <option selected >{{ network|safe }}</option>
                                {% endif %}
                                {% for networks in network_filter %}
                                    {% if not network == networks.network %}
                                        <option value="{{networks.network}}">{{ networks.network }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endif %}
                    </li>
                </ul>-->
                {% if not(request.endpoint.endswith("profile_controller.profile") or request.endpoint.endswith("feedback_controller.feedback") or request.endpoint.endswith("configuration_controller.configuration") or request.endpoint.endswith("accounts_controller.accounts")) %}
                    <form class="navbar-form navbar-left" id="search-form" role="search">
                        <div class="form-group" id="scrollable-dropdown-menu">
                            <input hidden id="source-search" value='{{ search|safe }}'/>
                            <input  type="text" class="typeahead form-control" id="search" placeholder="Search">
                        </div>
                        <a href="#" class="btn btn-default" id="search-btn">
                            <span class="glyphicon glyphicon-search" aira-hidden="true"></span>
                        </a>
                    </form>
                {% endif %}
            </div><!-- /.container-fluid -->
        </nav>
    {% endif %}
    <div id="page-wrapper">
    <div class="row">
    <div class="col-lg-12">
    {% if current_user.login %}
        {% if current_scan %}
            <div {% if not  current_scan.scan_on %}hidden ="true"{% endif %} id="location_progressbar">
                Scan:
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" id="progress-bar"  role="progressbar" aria-valuenow="{{ current_scan.scan_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{current_scan.scan_percentage}}%">
                        {{ current_scan.scan_percentage }}%
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}